@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");
:root {
  --primary-design-color: #14b3f0;
  --primary-bg-color: #fff;
  --secondary-bg-color: #f7fdff;
  --primary-text-color: #434343;
  --white-text-color: #f1f1f1;
  --secondary-text-color: #ff8f27;
  --dark-bg-color: #24324a;
  --light-bg-color: #fafafa;
  --general-transition: 0.4s ease;
  --primary-box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  --padding-top-bottom: 40px 0;
  --primary-font: "Poppins", sans-serif !important;
}
:root {
  --font-size-section-title: 32px;
  --font-size-page-title: 35px;
  --font-size-page-paragraph: 16px;
  --font-size-about-info-title: 20px;
}
*,
ul {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: var(--primary-font);
  overflow-x: hidden !important;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
}
input,
select,
button {
  border: none;
  outline: none;
}
::-webkit-scrollbar {
  width: 9px;
}
::-webkit-scrollbar-track {
  background: var(--white-text-color);
}
::-webkit-scrollbar-thumb {
  background: var(--primary-design-color);
  border-radius: 5px;
}
.section-title {
  margin-bottom: 40px;
}
.section-title h2 {
  font-size: var(--font-size-section-title);
  color: var(--primary-text-color);
  text-align: center;
  position: relative;
  display: inline-block;
}
.section-title h2::after {
  position: absolute;
  content: "";
  bottom: -8px;
  left: 0;
  background-color: var(--primary-design-color);
  height: 3px;
  width: 100%;
}
.sub-title h5 {
  position: relative;
  margin-bottom: 30px;
  font-size: 22px;
}
.sub-title h5::after {
  position: absolute;
  content: "";
  bottom: -10px;
  left: 0;
  height: 3px;
  background-color: var(--primary-design-color);
  width: 60px;
}
.page-title {
  font-size: var(--font-size-page-title);
  color: var(--primary-bg-color);
  text-transform: uppercase;
  letter-spacing: 0.4px;
}
.partners,
.blog-section,
.banner-section,
.process-section,
.about-section {
  padding: var(--padding-top-bottom);
}
.features-section,
.vacancy-section,
.partners-container,
.about-section,
.info-section,
.form-section {
  background-color: var(--secondary-bg-color) !important;
}
.page-link {
  font-weight: 500;
  padding: 10px 15px;
  background-color: var(--primary-bg-color);
  color: var(--primary-text-color);
  border-radius: 3px !important;
  transition: var(--general-transition);
  margin-bottom: 30px;
  border: none;
  box-shadow: var(--primary-box-shadow);
}
.page-link:hover {
  background-color: #3A7BCA;
  color: var(--white-text-color);
}
.page-link:focus {
  box-shadow: none;
}
/******header**********/
.general-header {
  position: absolute;
  z-index: 99;
  top: 0;
  left: 0;
  width: 100%;
  padding: 10px 0;
}
.general-header.header-fixed {
  background-color: var(--dark-bg-color);
  box-shadow: var(--primary-box-shadow);
  position: fixed;
  width: 100%;
}
.general-header .main-header .nav-list {
  position: relative;
}
.general-header .main-header .nav-list .nav-link {
  color: #fff;
  font-size: 16px;
  position: relative;
}
.general-header .main-header .nav-list .nav-link::before {
  transition: 300ms;
  content: "";
  position: absolute;
  background: #fff;
  height: 0%;
  width: 100%;
  bottom: -10px;
  right: 50%;
  opacity: 0;
  transition: var(--general-transition);
}
.general-header .main-header .nav-list .nav-link::after {
  transition: 300ms;
  content: "";
  position: absolute;
  background: #fff;
  height: 0%;
  width: 100%;
  top: -10px;
  opacity: 0;
  left: 50%;
  transition: var(--general-transition);
}
.general-header .main-header .nav-list .nav-link:hover::before {
  height: 1px;
  opacity: 1;
  right: 0;
}
.general-header .main-header .nav-list .nav-link:hover::after {
  height: 1px;
  opacity: 1;
  left: 0;
}
.general-header .main-header .nav-list .nav-link.active::after,
.general-header .main-header .nav-list .nav-link.active::before {
  height: 1px;
  opacity: 1;
  right: 100%;
  left: 0;
}
.dropdown .dropdown-toggle{
background-color: transparent;
border: none;
color: var(--primary-bg-color);
}
.dropdown-lang .dropdown-menu {
min-width: 20% !important;
background-color: transparent;
border: none !important;
}
.dropdown-lang .dropdown-menu .dropdown-item{
width: 50px !important;
padding: 3px !important;
font-weight: 500;
font-size: 15px;
background-color: var(--primary-bg-color) !important;
transition: var(--general-transition);
}
.dropdown-lang .dropdown-menu .dropdown-item:hover{
color: var(--secondary-text-color);
}
.general-header .dropdown {
  position: relative;
  display: inline-block;
}
.general-header .dropdown .dropbtn {
  padding-bottom: 30px;
  position: absolute;
  top: 30px;
}
.general-header .dropdown .dropbtn::before {
  bottom: 15px !important;
}
.general-header .dropdown .dropdown-content {
  position: absolute;
  background-color: var(--primary-bg-color);
  min-width: 250px;
  box-shadow: var(--primary-box-shadow);
  z-index: 1;
  opacity: 0;
  transform: translateY(15px);
  transition: var(--general-transition);
}
.general-header .dropdown .dropdown-content a {
  color: black;
  display: inline-block;
  padding: 12px 16px;
  position: relative;
}
.general-header .dropdown .dropdown-content a:hover {
  color: var(--primary-design-color);
}
.general-header .dropdown:hover .dropdown-content {
  transform: translateY(20px);
  opacity: 1;
}
.general-header .header-contact-list {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.general-header .header-contact-list li:first-child a {
  color: var(--primary-bg-color);
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 5px;
  display: inline-block;
  transition: var(--general-transition);
}
.general-header .header-contact-list li:first-child a:hover {
  color: var(--secondary-text-color);
}
.general-header .header-contact-list li:first-child a:hover i {
  animation: phone-ring 1s 250ms infinite;
  -webkit-animation: phone-ring 1s 250ms infinite;
}
.general-header .modal-btn {
  background-color: var(--primary-design-color);
  display: block;
  width: 100px;
  height: 38px;
  border-radius: 20px;
  color: var(--primary-design-color);
  font-size: 14.5px;
  letter-spacing: -0.5px;
  transition: var(--general-transition);
  position: relative;
  z-index: 1;
  margin: 5px 0 0;
  overflow: hidden;
}
.general-header .modal-btn::before {
  position: absolute;
  content: "";
  background-color: var(--primary-bg-color);
  transition: 0.3s ease-out;
  top: 0;
  bottom: 0;
  right: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
}
.general-header .modal-btn:hover::before {
  width: 0%;
}
.general-header .modal-btn:hover {
  color: var(--primary-bg-color);
}
.general-header .nav-menu-btn {
  background-color: transparent;
}
.general-header .nav-menu-btn .line {
  width: 40px;
  height: 4px;
  border-radius: 3px;
  background-color: #ecf0f1;
  display: block;
  margin: 8px auto;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.general-header .nav-menu-btn.is-active .line:nth-child(2) {
  opacity: 0;
}
.general-header .nav-menu-btn.is-active .line:nth-child(1) {
  -webkit-transform: translateY(13px) rotate(45deg);
  -ms-transform: translateY(13px) rotate(45deg);
  -o-transform: translateY(13px) rotate(45deg);
  transform: translateY(13px) rotate(45deg);
}
.general-header .nav-menu-btn.is-active .line:nth-child(3) {
  -webkit-transform: translateY(-13px) rotate(-45deg);
  -ms-transform: translateY(-13px) rotate(-45deg);
  -o-transform: translateY(-13px) rotate(-45deg);
  margin-top: 9px;
  transform: translateY(-13px) rotate(-45deg);
}
/*header mobile*/
.general-header .header-mobile {
  position: absolute;
  background-color: var(--dark-bg-color);
  color: var(--primary-bg-color);
  top: 100px;
  left: 0;
  width: 100%;
  text-align: center;
  display: none;
  display: flex;
  align-items: center;
  justify-content: center;
  display: none;
}
.general-header .header-mobile .nav-menu .nav-item .nav-link {
  font-size: 16px;
  text-transform: uppercase;
  margin-top: 13px;
  color: #fff;
  display: inline;
  width: 100%;
  display: inline-block;
  position: relative;
  padding: 10px 25px;
  transition: var(--general-transition);
}
.general-header .header-mobile .nav-menu .nav-item .nav-link:hover {
  color: var(--primary-design-color);
}
.general-header .header-mobile .nav-list .submenu li a {
  font-size: 15px;
  text-transform: capitalize;
  color: var(--white-text-color);
  display: inline-block;
  width: 100%;
  left: 0;
  position: relative;
  padding: 10px 0;
}
@keyframes phone-ring {
  0% {
    transform: rotate(0deg) scale(1) skew(1deg);
    -webkit-transform: rotate(0deg) scale(1) skew(1deg);
    -moz-transform: rotate(0deg) scale(1) skew(1deg);
    -ms-transform: rotate(0deg) scale(1) skew(1deg);
    -o-transform: rotate(0deg) scale(1) skew(1deg);
  }

  10% {
    transform: rotate(-25deg) scale(1) skew(1deg);
    -webkit-transform: rotate(-25deg) scale(1) skew(1deg);
    -moz-transform: rotate(-25deg) scale(1) skew(1deg);
    -ms-transform: rotate(-25deg) scale(1) skew(1deg);
    -o-transform: rotate(-25deg) scale(1) skew(1deg);
  }

  20% {
    transform: rotate(25deg) scale(1) skew(1deg);
    -webkit-transform: rotate(25deg) scale(1) skew(1deg);
    -moz-transform: rotate(25deg) scale(1) skew(1deg);
    -ms-transform: rotate(25deg) scale(1) skew(1deg);
    -o-transform: rotate(25deg) scale(1) skew(1deg);
  }

  30% {
    transform: rotate(-25deg) scale(1) skew(1deg);
    -webkit-transform: rotate(-25deg) scale(1) skew(1deg);
    -moz-transform: rotate(-25deg) scale(1) skew(1deg);
    -ms-transform: rotate(-25deg) scale(1) skew(1deg);
    -o-transform: rotate(-25deg) scale(1) skew(1deg);
  }

  40% {
    transform: rotate(25deg) scale(1) skew(1deg);
    -webkit-transform: rotate(25deg) scale(1) skew(1deg);
    -moz-transform: rotate(25deg) scale(1) skew(1deg);
    -ms-transform: rotate(25deg) scale(1) skew(1deg);
    -o-transform: rotate(25deg) scale(1) skew(1deg);
  }

  50% {
    transform: rotate(0deg) scale(1) skew(1deg);
    -webkit-transform: rotate(0deg) scale(1) skew(1deg);
    -moz-transform: rotate(0deg) scale(1) skew(1deg);
    -ms-transform: rotate(0deg) scale(1) skew(1deg);
    -o-transform: rotate(0deg) scale(1) skew(1deg);
  }

  100% {
    transform: rotate(0deg) scale(1) skew(1deg);
    -webkit-transform: rotate(0deg) scale(1) skew(1deg);
    -moz-transform: rotate(0deg) scale(1) skew(1deg);
    -ms-transform: rotate(0deg) scale(1) skew(1deg);
    -o-transform: rotate(0deg) scale(1) skew(1deg);
  }
}
/*******banner section*************/
.banner-section {
  padding: 0;
  position: relative;
  overflow: hidden;
}
.banner-section.banner-section-2{
  height:65vh;
}
.banner-section .banner-carousel .slide-item {
  height: 90vh;
  padding: 0;
  position: relative;
  z-index: 1;
}
.banner-section .banner-carousel .slide-item::after {
  content: "";
  position: absolute;
  top: 0;
  height: 90vh;
  width: 100%;
  background-color: #04384d;
  opacity: 0.7;
  z-index: -1;
}
.banner-section .search-content-box {
  position: absolute;
  top:50%;
  left:0;
  z-index: 20;
  display: flex;
  align-items: center;
  justify-content: center;
}
.banner-section .search-content-box .search-form {
  display: flex;
  align-items: center;
  justify-content: center;
}
.banner-section .search-content-box .search-form input,
.banner-section .search-content-box .search-form button {
  height: 55px;
  font-size: 14px;
}
.banner-section .custom-select {
  position: relative;
}
.banner-section .custom-select select {
  display: none;
}
.banner-section .select-selected {
  background-color: var(--primary-bg-color);
  width: 240px;
  height: 55px;
  border-left: 1px solid#BFBFBF;
  display: flex;
  padding-right: 15px;
  justify-content: space-between;
}
.banner-section .select-items {
  box-shadow: var(--primary-box-shadow);
}
.banner-section .select-items div,
.banner-section .select-selected {
  color: #818181;
  cursor: pointer;
  padding: 15px;
  font-size: 15px;
}
.banner-section .select-items {
  position: absolute;
  background-color: var(--primary-bg-color);
  top: 100%;
  left: 0;
  right: 0;
}
.banner-section .select-items div:hover,
.banner-section .same-as-selected {
  color: var(--primary-text-color);
}
.banner-section .select-hide {
  display: none;
}
.banner-section .page-title-content{
   position: absolute;
 top: 50%;
  z-index: 20
}
.banner-section .search-content-box .search-form input {
  border-radius: 10px 0 0 10px;
  width: 170px;
  padding: 0 15px;
}
.banner-section .search-content-box .search-form input::placeholder {
  font-size: 14px;
  color: #818181;
}
.banner-section .search-content-box .search-form button {
  width: 170px;
  border-radius: 0 10px 10px 0;
  text-transform: uppercase;
  background-color: var(--primary-design-color);
  color: var(--primary-bg-color);
  letter-spacing: 0.4px;
  transition: background-color 0.3s;
}
.banner-section .search-content-box .search-form button:hover {
  background-color: #3a7bca;
}
.main .banner-section {
  min-height: 80vh;
  position: relative
}
.main .banner-section .page-title-content{
top: 45%;
}
.main .banner-section .search-content-box{
top: 65%;
}
.home .page-link {
  color: var(--primary-design-color);
  text-decoration: underline;
  background-color: transparent;
  border: none;
}

/*************features section**************/
.features-section {
  padding: 50px 0 0;
}
.features-section .inner-box {
  height: 300px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  color: var(--primary-bg-color);
  position: relative;
  z-index: 1;
}
.features-section .inner-box::after {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 300px;
  border-radius: 5px;
  z-index: -1;
}
.features-section .inner-box form {
  position: relative;
}
.features-section .inner-box form input {
  border-radius: 15px;
  padding-left: 55px;
  height: 55px;
  width: 250px;
}
.features-section .inner-box form input::placeholder {
  font-size: 17px;
}
.features-section .inner-box img {
  position: absolute;
  left: 20px;
  top: 15px;
}
.features-section .inner-box .content {
  margin: 0 auto;
  text-align: center;
}
.features-section .inner-box .content h5 {
  font-size: 20px;
}
.features-section .inner-box .content h5 a {
  line-height: 1.6;
  font-weight: 400;
  font-size: 20px;
  color: var(--primary-bg-color);
}
.features-section .inner-box .content-1 {
  width: 240px;
}
.features-section .inner-box .content-2 {
  width: 170px;
}
.features-section .inner-box .content-3 {
  width: 110px;
}
.features-section .inner-box-1 {
  background: url("../images/home/banner-img-1.png");
}
.features-section .inner-box-1::after {
  background-color: rgba(27, 215, 65, 0.7);
}
.features-section .inner-box-2 {
  background: url("../images/home/banner-img-2.png");
}
.features-section .inner-box-2::after {
  background-color: rgba(255, 142, 0, 0.7);
}
.features-section .inner-box-3 {
  background: url("../images/home/banner-img-3.png");
}
.features-section .inner-box-3::after {
  background-color: rgba(22, 143, 196, 0.7);
}
/************vacancy-section*****************/
.section-one {
  background: url("../images/home/Group\ 527.png");
  background-repeat: no-repeat;
  background-position: top left;
  padding-top: 100px;
}
.section-two {
  background: url("../images/home/Group\ 527.png");
  background-repeat: no-repeat;
  padding: var(--padding-top-bottom);
  background-position: right top;
}
.vacancy-section .inner-box {
  display: flex;
  margin-bottom: 30px;
  height: 180px;
  background-color: var(--primary-bg-color);
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  box-shadow: var(--primary-box-shadow);
  border-radius: 3px;
}
.vacancy-section .inner-box .content {
  margin-left: 10px;
  padding: 10px;
}
.vacancy-section .inner-box .content a {
  display: inline-block;
  border-radius: 5px;
  margin-top: 15px;
  font-size: 15px;
  transition: var(--general-transition);
  position: relative;
  z-index: 1;
  overflow: hidden;
}
.vacancy-section .inner-box .content a::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  transition: 0.3s ease-out;
  height: 100%;
  width: 100%;
  z-index: -1;
}
.vacancy-section .inner-box .content a:hover::before {
  width: 0%;
}
.vacancy-section .inner-box .content .read-more-link {
  color: var(--primary-design-color);
  border: 1px solid var(--primary-design-color);
  background-color: var(--primary-design-color);
  padding: 8px 30px;
}
.vacancy-section .inner-box .content .read-more-link::before {
  background-color: var(--primary-bg-color);
}
.vacancy-section .inner-box .content .read-more-link:hover {
  color: var(--primary-bg-color);
}
.vacancy-section .inner-box .content .link-2 {
  background-color: var(--primary-bg-color);
  padding: 8px 20px;
  margin-left: 10px;
  color: var(--primary-bg-color);
  border: 1px solid transparent;
  overflow: hidden;
}
.vacancy-section .inner-box .content .link-2::before {
  background-color: var(--primary-design-color);
}
.vacancy-section .inner-box .content .link-2:hover {
  color: var(--primary-design-color);
  border: 1px solid var(--primary-design-color);
}
.vacancy-section .inner-box .content .content-title {
  line-height: 1.4;
  font-size: 16px;
}
.vacancy-section .link {
  transition: var(--general-transition);
  text-decoration: underline;
  margin: 30px 0;
}
.vacancy-section .link:hover {
  color: var(--primary-text-color) !important ;
}
.vacancy-section-bg-light {
  background-color: var(--primary-bg-color) !important;
}
/************partners****************/
.partners-section-bg {
  background-color: var(--secondary-bg-color);
}
.partners-section-bg-2 {
  background-color: var(--secondary-bg-color);
}
.partners .slide-item {
  border-radius: 10px;
  width: 230px;
  height: 100px;
  margin: 30px auto;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--primary-bg-color) !important;
  box-shadow: var(--primary-box-shadow);
}
.partners .slide-item .inner-box {
  transition: var(--general-transition);
}
.partners .slide-item .inner-box:hover {
  transform: scale(1.1);
}
.partners .slide-item img {
  width: 140px;
}
/**********blog********/
.blog-section {
  background-color: var(--light-bg-color);
}
.blog-section .inner-box {
  width: 280px;
  height: 350px;
  margin: 0 auto 20px;
}
.blog-section .inner-box .text-content {
  padding-left: 15px;
}
.blog-section .inner-box .text-content .read-more {
  color: var(--primary-design-color);
  font-weight: 500;
  font-size: 15px;
  transition: var(--general-transition);
}
.blog-section .inner-box .text-content .read-more:hover {
  color: #24324a;
  transform: translateX(2px);
}
/********blog inner section*************/
.blog-inner-section {
  padding: var(--padding-top-bottom);
}

.blog-inner-section .blog-image img {
  width: 100%;
}
.blog-inner-section .blog-info .blog-text {
  font-size: var(--font-size-page-paragraph);
  line-height: 2;
}
.blog-inner-section .blog-info span {
  font-size: 14px;
}
/***************process section**********/
.process-section-content {
  border-radius: 10px;
  border-radius: 10px;
  box-shadow: var(--primary-box-shadow);
}
.process-section .section-box {
  text-align: center;
  padding: 30px 0;
}
.process-section .section-box .image-container {
  text-align: center;
  line-height: 110px;
  width: 110px;
  margin: 0 auto;
  height: 110px;
  background-color: rgba(20, 232, 240, 11%);
  border-radius: 50%;
  position: relative;
}
.process-section .section-box .image-container img {
  width: 70px;
}
.process-section .section-box .image-container::before {
  content: "";
  position: absolute;
  left: 20%;
  bottom: 5px;
  width: 10px;
  height: 10px;
  background-color: var(--secondary-text-color);
  border-radius: 50%;
}
.process-section .section-box .image-container::after {
  content: "";
  position: absolute;
  right: 20%;
  top: 5px;
  width: 10px;
  height: 10px;
  background-color: var(--primary-design-color);
  border-radius: 50%;
}
.process-section .title {
  color: var(--primary-design-color);
  margin: 20px 0 20px;
}
.process-section .counter,
.count {
  color: var(--secondary-text-color);
  font-weight: 500;
  font-size: 24px;
}
/*****************footer***************/
.general-footer {
  background-color: var(--dark-bg-color);
  padding-top: 40px;
  overflow: hidden;
}
.general-footer .footer-logo {
  text-align: center;
}
.general-footer .footer-social-list {
  display: flex;
  justify-content: center;
}
.general-footer .footer-social-list li {
  margin-right: 15px;
}
.general-footer .footer-social-list li a {
  color: #93a1b9;
  transition: var(--general-transition);
}
.general-footer .footer-social-list a:hover {
  color: var(--primary-design-color);
}
.general-footer .footer-sub-title {
  color: var(--primary-bg-color);
  margin-bottom: 10px;
  font-weight: bold;
  font-size: 17px;
}
.general-footer .footer-nav-list a {
  color: var(--primary-bg-color);
  margin-bottom: 10px;
  display: inline-block;
  position: relative;
  transition: var(--general-transition);
  font-size: 16px;
}
.general-footer .footer-nav-list a::after {
  content: "";
  position: absolute;
  height: 1px;
  width: 0;
  left: 0;
  bottom: -3px;
  background-color: #3a7bca;
  transition: var(--general-transition);
}
.general-footer .footer-nav-list a:hover::after {
  width: 100%;
}
.copyright {
  background-color: #1d293e;
  text-align: center;
  color: var(--primary-bg-color);
  padding: 10px;
  font-size: 15px;
}
/**********about***************/
.about-section .about-info .about-info-title {
  color: var(--primary-design-color);
  position: relative;
  margin: 20px 0;
  font-size: var(--font-size-about-info-title);
}
.about-section .about-info .about-info-title::before {
  position: absolute;
  content: "";
  height: 3px;
  bottom: -7px;
  left: 0;
  width: 100px;
  background-color: var(--primary-design-color);
}
.about-section .about-info .about-list li {
  margin-bottom: 10px;
  text-transform: capitalize;
  font-weight: 400;
}

.about-section .about-info .about-info-text,
.blog-detail-text {
  font-size: var(--font-size-page-paragraph);
  line-height: 2;
}
/*****************contact************/
.contact-form {
  padding: var(--padding-top-bottom);
}
.contact-form .form-control,
.section-1 .form-control {
  outline: none !important;
  box-shadow: none !important;
  padding: 15px;
  transition: 0.1s;
}
.contact-form .form-control:focus,
.section-1 .form-control:focus {
  border: 1px solid var(--primary-design-color);
  padding: 8px 15px 20px !important;
}
.contact-form .form-control:focus::placeholder,
.section-1 .form-control:focus::placeholder {
  font-size: 15px;
  color: #ced4da;
}
.contact-form .submit-btn {
  background-color: var(--primary-design-color);
  transition: var(--general-transition);
  color: var(--primary-bg-color);
}
.contact-form .submit-btn:hover {
  background-color: var(--dark-bg-color);
}
.mapouter {
  position: relative;
  text-align: right;
  width: 100%;
  height: 400px;
}
.gmap_canvas {
  overflow: hidden;
  background: none !important;
  width: 100%;
  height: 400px;
}
.gmap_iframe {
  height: 400px !important;
}

/**FORM**/
.form_page{
  background-color:var(--secondary-bg-color);
}
.form-container {
  margin: auto;
  max-width: 90vw;
  width: 800px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}
.form-container .content {
  background: transparent;
  margin: 40px 0 15px;
  box-shadow: var(--primary-box-shadow);
  color: var(--primary-text-color);
  background-color: #fff;
  border: 1px solid #dadce0;
  border-radius: 8px;
  padding: 22px 24px 16px 24px;
  position: relative;
}
.form-container .content .title {
  font-size: 32px;
  font-weight: 400;
  line-height: 40px;
  color: var(--primary-text-color);
  line-height: 135%;
}
.form-container .form-content .title {
  font-size: 27px;
  padding: 13px 0;
  font-weight: 400;
  line-height: 40px;
  color: var(--primary-text-color);
  line-height: 135%;
  text-align: left;
  display: flex;
  align-items: center;
  margin-bottom: 30px;
  justify-content: center;
  box-shadow: var(--primary-box-shadow);
  background-color: var(--primary-bg-color);
}
.form-container .content .text {
  font-size: 15px;
  font-weight: 400;
  letter-spacing: 0.2px;
  line-height: 25px;
  color: var(--primary-text-color);
  margin-top: 12px;
}
.form-container .list .list_item {
  border-radius: 5px;
  background-color: var(--primary-bg-color);
  box-shadow: var(--primary-box-shadow);
  margin-bottom: 20px;
}
.form-container .list .list_item .heading {
  background-color: var(--primary-design-color);
  color: #fff;
  padding: 12px 24px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  line-height: 24px;
  font-size: 18px;
  letter-spacing: 0.2px;
}
.form-container .item-content {
  padding: 30px;
  font-size: 15px;
}
.form-container .item-content .form-check {
  margin-bottom: 10px;
}
.form-container .input_1 {
  border-bottom: 1px solid #cbcbcb;
  padding-bottom: 10px;
  color: #cbcbcb;
  width: 50%;
}
.form-container .list_item .heading_2 {
  font-size: 15px;
  font-weight: 400;
  letter-spacing: 0.3px;
  line-height: 16px;
  color: #70757a;
  color: #202124;
  background-color: #fff;
  border: 1px solid #dadce0;
  border-radius: 0 0 8px 8px;
  margin-bottom: 12px;
  padding: 24px;
  padding-left: 17px;
  white-space: pre-wrap;
}
.section_container{
  overflow: hidden;
}
.categories{
  background-color: var(--secondary-bg-color);
  padding: 20px;
  margin: 20px 0;
  overflow: hidden;
}
.categories span{
 display: inline-block;
 margin-bottom: 10px;
}

.categories_2 {
background-color: var(--light-bg-color);
}
.categories_2 span img{
width: 20px;
display: inline-block;
margin-right: 10px;
}
 .category-nav-list {
padding: 0 30px;
}
 .category-nav-list .nav-link{
color: #000 !important;
position: relative;
padding: 10px 0 ;
}
 .category-nav-list .nav-link:last-child{
margin-left: 20px;
}
 .category-nav-list .nav-link.active::after{
content: '';
position: absolute;
left: 0;
bottom: 0;
height: 2px;
width: 50%;
background-color: var(--primary-design-color);
}
.section_container .search-form input{
  border-radius: 5px 0 0 5px;
  border-right: none !important;
  box-shadow: none !important;
  font-size: 14px;
  padding:6px 10px;
}
.section_container .search-form button{
  border-radius: 0 5px 5px 0;
  box-shadow: none !important;
  font-size: 14px;
  background: transparent;
  color: var(--primary-design-color);
  border: 1px solid #ddd;
  border-left: none;
  padding: 4px 10px 4px 4px;
}
.search-form input:focus {
 border-color: #ddd !important;
}
 .section-info-2 .inner-box .image img {
  width: 200px;
}

.section-info-2 .info {
  overflow: hidden;
  padding: var(--padding-top-bottom);
}
.section-info-2 .info ul li {
  margin: 0 0 10px 20px;
  list-style: disc;
}
.section-info-2 .category ul li span {
  color: var(--primary-design-color);
  margin-right: 30px;
}