@media (max-width: 1200px) {
  .general-header .main-header .nav-list .nav-link {
    font-size: 15px;
  }
  .general-header .header-logo img {
    width: 200px;
  }
  .features-section .inner-box .content h5,
  .features-section .inner-box .content h5 a {
    font-size: 16px;
  }
}
@media (max-width: 998px) {
  :root {
    --font-size-section-title: 25px;
    --font-size-page-title: 30px;
    --font-size-page-paragraph: 15px;
    --font-size-about-info-title: 20px;
  }
  .general-header {
    background-color: var(--dark-bg-color) ;
  }
  .general-header .header-logo img {
    width: 170px;
  }
  .dropdown.dropdown-lang{
    display: none;
  }
  .header-mobile .dropdown.dropdown-lang{
    display: block;
  }

  .general-header .header-contact-list {
    display: flex;
    align-items: end;
  }
  .general-header .header-contact-list button {
    display: none;
  }
  .header-mobile .modal-btn{
    margin: 0 auto;
    width: 130px;
  }
  .general-header .header-mobile.show {
    display: block;
    height: 100vh;
  } 
  .general-header .header-contact-list li a,span{
   font-size: 16px !important;
  }
  .main .banner-section {
    height: 90vh;
  }
  .main .banner-section .home-content {
    height: 90vh;
  }
  .banner-section .search-content-box .search-form select,
  input,
  button {
    height: 52px;
  }
  .banner-section .search-content-box .search-form .select-selected {
    width: 230px;
  }
  .banner-section .search-content-box .search-form input {
    width: 140px;
  }
  .banner-section .search-content-box .search-form button {
    width: 140px;
  }
  .features-section .inner-box .content h5,
  .features-section .inner-box .content h5 a {
    font-size: 18px;
  }
  .vacancy-section .inner-box .content a {
    padding: 5px 15px !important;
    font-size: 14px;
  }
  .vacancy-section .inner-box .content .content-title,
  .company,
  .city {
    font-size: 14px;
  }
  .vacancy-section .inner-box .image img {
    width: 240px;
  }
  .process-section-content {
    box-shadow: none;
  }
  .process-section .section-box {
    box-shadow: var(--primary-box-shadow);
    border-radius: 5px;
  }
  .general-footer .footer-logo,
  .general-footer .footer-social-list {
    text-align: left;
    justify-content: flex-start;
  }
  .search-form input ,button{
   height: 40px;
  }
}
@media (max-width: 768px) {
  :root {
    --font-size-page-title: 25px;
  }
  .banner-section .search-content-box .search-form {
    flex-direction: column;
    margin-top: 60px;
  }
  .banner-section .search-content-box .search-form .select-selected {
    width: 500px;
    border-radius: 0;
    border-top: 1px solid #bfbfbf;
  }
  .banner-section .search-content-box .search-form input {
    border-radius: 0;
    width: 500px;
  }
  .banner-section .search-content-box .search-form button {
    width: 500px;
    border-radius: 0;
  }
  .blog-section .inner-box {
    width: 250px;
  }
  .blog-section .inner-box .image-content img {
    width: 250px;
  }
  .general-footer .footer-logo img {
    width: 180px;
  }
  .general-footer .footer-social-list li a,
  .general-footer .footer-nav-list li a {
    font-size: 14px;
  }
  .copyright {
    font-size: 14px;
  }
  .about-section .about-image {
    width: 100%;
    text-align: center;
  }
  .about-section .about-image img {
    width: 400px;
    margin: 20px 0;
    display: inline-block;
  }
  .form-container .content .title {
    font-size: 28px;
  }
  .form-section .input-group input.text {
    width: 270px;
  }
  .section-info-2 .content img {
    width: 20px;
  }
  .section-info-2 .content h6,
  span {
    font-size: 14px;
  }
  .form-section .heading {
    font-size: 20px;
  }
  .section-info-2 .info ul li {
   font-size: 14px;
  }
  .sub-title h5 {
    font-size: 18px;
  }
}
@media (max-width: 576px) {
  .general-header .header-logo img {
    width: 160px;
  }
  .sub-title {
    display: flex;
    justify-content: center;
  }
  .sub-title h5::after {
    width: 100%;
  }
  .page-link {
    font-size: 15px;
    padding: 8 15px;
  }
  .vacancy-section .inner-box .content a {
    padding: 5px 10px !important;
    font-size: 13px;
  }
  .banner-section .search-content-box .search-form .select-selected {
    width: 340px;
  }
  .banner-section .search-content-box .search-form input {
    width: 340px;
  }
  .banner-section .search-content-box .search-form button {
    width: 340px;
  }
  .blog-section .inner-box {
    width: 340px;
    margin: 0 auto 50px;
  }
  .blog-section .inner-box .image-content img {
    width: 350px;
  }
  .general-footer {
    text-align: center;
  } 
  .general-footer .footer-logo,
  .general-footer .footer-social-list {
    text-align: center;
    justify-content: center;
  }
  .about-section .about-image img {
    width: 300px;
  }
  .form-container .content .title {
    font-size: 24px;
  }
  
.form-container .form-content .title {
 font-size: 18px;
}
.form-container .form-content .heading {
 font-size: 15px !important;
}
.form-container .form-content h6 {
 font-size: 15px !important;
}
.section-info-2 .inner-box .image img {
  width: 170px;
}
}
